<h1>Gerenciador de Pessoa</h1>

<form ngForm name="cadastro">
    <div>
      <label>Nome: </label>
      <input type="text" name="nomePessoa" [(ngModel)]="nomePessoa">
    </div>
    <div>
      <label>Idade: </label>
      <input type="text" name="idadePessoa" [(ngModel)]="idadePessoa">
    </div>
  <button (click)="adicionar()">OK</button>
</form>
<h4>Lista de Pessoa</h4>
<ul>
  <li *ngFor="let pessoa of pessoas">
    {{pessoa.nome}}  {{pessoa.idade}} 
    <button (click)="excluir(pessoa.id)">Excluir</button>
  </li>
</ul>
<p>Total de pessoas cadastradas {{pessoas.length}}</p>
<p>Pessoa mais jovem: {{menorPessoa}}, com {{menorIdade}}</p>
<p>Pessoa mais velha: {{maiorPessoa}}, com {{maiorIdade}}</p>